
.websiteBody{
    margin: 0;
  }
  
  
  .q1{
      display:block;
      margin:auto;
      width:100%;
      height:auto;
      pointer-events:auto;
  }
  .outer_q1{
      position:relative;
      display:flex;
      pointer-events:none;
      z-index:1;
  }
  .q2{
      position:relative;
      z-index:33;
      pointer-events:auto;
      width:100%;
      margin-left:0;
      min-width:200px;
      max-width:379px;
      margin:auto;
      background-color:rgba(255, 255, 255, 1);
      overflow:hidden;
      display:block;
  }
  .outer_q2{
      position:relative;
      display:flex;
      pointer-events:none;
      z-index:33;
  }
  .q3{
      position:relative;
      z-index:41;
      pointer-events:auto;
      margin-left:10px;
      width:179px;
      min-width:179px;
      height:36px;
      margin-top:10px;
      margin-bottom:674px;
      min-height:36px;
  }
  .outer_q3{
      position:relative;
      display:flex;
      pointer-events:none;
      z-index:41;
  }
  .q4{
      position:relative;
      z-index:42;
      pointer-events:auto;
      margin-left:0px;
      width:36.28px;
      min-width:36.28px;
      height:36px;
      margin-top:0px;
      margin-bottom:0px;
      min-height:36px;
  }
  .outer_q4{
      position:relative;
      display:flex;
      pointer-events:none;
      z-index:42;
  }
  .q5{
      position:relative;
      z-index:43;
      pointer-events:auto;
      margin-left:34px;
      width:145.14px;
      min-width:145.14px;
      height:30.41px;
      margin-top:-33px;
      margin-bottom:2.5900000000000034px;
      min-height:30.41px;
  }
  .outer_q5{
      position:relative;
      display:flex;
      pointer-events:none;
      z-index:43;
  }
  .q6{
      position:relative;
      z-index:34;
      pointer-events:auto;
      margin-left:96px;
      width:186px;
      min-width:186px;
      margin-top:-653px;
      margin-bottom:618px;
      min-height:35px;
      text-align:left;
      display:flex;
      flex-direction:column;
      justify-content:flex-start;
      color:rgba(26, 32, 44, 1);
      font-style:normal;
      font-family:Roboto;
      font-weight:700;
      font-size:30px;
      line-height:36px;
  }
  .outer_q6{
      position:relative;
      display:flex;
      pointer-events:none;
      z-index:34;
  }
  .q7{
      position:relative;
      z-index:39;
      pointer-events:auto;
      margin-left:14px;
      width:43px;
      min-width:43px;
      margin-top:-584px;
      margin-bottom:565px;
      min-height:19px;
      text-align:center;
      display:flex;
      flex-direction:column;
      justify-content:flex-start;
      color:rgba(74, 85, 104, 1);
      font-style:normal;
      font-family:Roboto;
      font-weight:400;
      font-size:16px;
      line-height:18.666667938232422px;
  }
  .outer_q7{
      position:relative;
      display:flex;
      pointer-events:none;
      z-index:39;
  }
  .q8{
      position:relative;
      z-index:35;
      pointer-events:auto;
      margin-left:14px;
      width:350px;
      min-width:350px;
      height:50px;
      margin-top:-551px;
      margin-bottom:501px;
      min-height:50px;
      background-color:rgba(255, 255, 255, 1);
      border:1px solid rgba(255, 214, 0, 1);
      box-sizing:border-box;
      border-radius:10px;
  }
  .outer_q8{
      position:relative;
      display:flex;
      pointer-events:none;
      z-index:35;
  }
  .q9{
      position:relative;
      z-index:40;
      pointer-events:auto;
      margin-left:16px;
      width:40px;
      min-width:40px;
      margin-top:-488px;
      margin-bottom:469px;
      min-height:19px;
      text-align:center;
      display:flex;
      flex-direction:column;
      justify-content:flex-start;
      color:rgba(74, 85, 104, 1);
      font-style:normal;
      font-family:Roboto;
      font-weight:400;
      font-size:16px;
      line-height:18.666667938232422px;
  }
  .outer_q9{
      position:relative;
      display:flex;
      pointer-events:none;
      z-index:40;
  }
  .q10{
      position:relative;
      z-index:38;
      pointer-events:auto;
      margin-left:14px;
      width:350px;
      min-width:350px;
      height:50px;
      margin-top:-452px;
      margin-bottom:402px;
      min-height:50px;
      background-color:rgba(255, 255, 255, 1);
      border:1px solid rgba(255, 214, 0, 1);
      box-sizing:border-box;
      border-radius:10px;
  }
  .outer_q10{
      position:relative;
      display:flex;
      pointer-events:none;
      z-index:38;
  }
  .q11{
      position:relative;
      z-index:44;
      pointer-events:auto;
      margin-left:14px;
      width:107px;
      min-width:107px;
      margin-top:-390px;
      margin-bottom:371px;
      min-height:19px;
      text-align:center;
      display:flex;
      flex-direction:column;
      justify-content:flex-start;
      color:rgba(74, 85, 104, 1);
      font-style:normal;
      font-family:Roboto;
      font-weight:400;
      font-size:16px;
      line-height:18.666667938232422px;
  }
  .outer_q11{
      position:relative;
      display:flex;
      pointer-events:none;
      z-index:44;
  }
  .q12{
      position:relative;
      z-index:37;
      pointer-events:auto;
      margin-left:14px;
      width:350px;
      min-width:350px;
      height:50px;
      margin-top:-358px;
      margin-bottom:308px;
      min-height:50px;
      background-color:rgba(255, 255, 255, 1);
      border:1px solid rgba(255, 214, 0, 1);
      box-sizing:border-box;
      border-radius:10px;
  }
  .outer_q12{
      position:relative;
      display:flex;
      pointer-events:none;
      z-index:37;
  }
  .q13{
      position:relative;
      z-index:46;
      pointer-events:auto;
      margin-left:16px;
      width:71px;
      min-width:71px;
      margin-top:-296px;
      margin-bottom:277px;
      min-height:19px;
      text-align:center;
      display:flex;
      flex-direction:column;
      justify-content:flex-start;
      color:rgba(74, 85, 104, 1);
      font-style:normal;
      font-family:Roboto;
      font-weight:400;
      font-size:16px;
      line-height:18.666667938232422px;
  }
  .outer_q13{
      position:relative;
      display:flex;
      pointer-events:none;
      z-index:46;
  }
  .q14{
      position:relative;
      z-index:47;
      pointer-events:auto;
      margin-left:12px;
      width:350px;
      min-width:350px;
      height:50px;
      margin-top:-268px;
      margin-bottom:218px;
      min-height:50px;
      background-color:rgba(255, 255, 255, 1);
      border:1px solid rgba(255, 214, 0, 1);
      box-sizing:border-box;
      border-radius:10px;
  }
  .outer_q14{
      position:relative;
      display:flex;
      pointer-events:none;
      z-index:47;
  }
  .q15{
      position:relative;
      z-index:45;
      pointer-events:auto;
      margin-left:16px;
      width:132px;
      min-width:132px;
      margin-top:-203px;
      margin-bottom:184px;
      min-height:19px;
      text-align:center;
      display:flex;
      flex-direction:column;
      justify-content:flex-start;
      color:rgba(74, 85, 104, 1);
      font-style:normal;
      font-family:Roboto;
      font-weight:400;
      font-size:16px;
      line-height:18.666667938232422px;
  }
  .outer_q15{
      position:relative;
      display:flex;
      pointer-events:none;
      z-index:45;
  }
  .q16{
      position:relative;
      z-index:36;
      pointer-events:auto;
      margin-left:12px;
      width:350px;
      min-width:350px;
      height:50px;
      margin-top:-173px;
      margin-bottom:123px;
      min-height:50px;
      background-color:rgba(255, 255, 255, 1);
      border:1px solid rgba(255, 214, 0, 1);
      box-sizing:border-box;
      border-radius:10px;
  }
  .outer_q16{
      position:relative;
      display:flex;
      pointer-events:none;
      z-index:36;
  }
  .q17{
      position:relative;
      z-index:48;
      pointer-events:auto;
      margin-left:15px;
      width:347px;
      min-width:347px;
      height:50px;
      margin-top:-95px;
      margin-bottom:45px;
      min-height:50px;
      border-radius:10px;
  }
  .outer_q17{
      position:relative;
      display:flex;
      pointer-events:none;
      z-index:48;
  }
  .q18{
      position:relative;
      z-index:50;
      pointer-events:auto;
      margin-left:39.481268011527376%;
      width:17.579250720461093%;
      height:38%;
      margin-top:4.322766570605188%;
      text-align:left;
      display:flex;
      flex-direction:column;
      justify-content:flex-start;
      color:rgba(12, 11, 13, 1);
      font-style:normal;
      font-family:Roboto;
      font-weight:700;
      font-size:16px;
      line-height:18.666667938232422px;
  }
  .outer_q18{
      position:absolute;
      display:flex;
      pointer-events:none;
      z-index:50;
      width:100%;
      height:100%;
      left:0;
      top:0;
  }
  .q19{
      position:relative;
      z-index:49;
      pointer-events:auto;
      margin-left:0%;
      width:100%;
      height:100%;
      margin-top:0%;
      background-color:rgba(255, 214, 0, 1);
      border-radius:10px;
  }
  .outer_q19{
      position:absolute;
      display:flex;
      pointer-events:none;
      z-index:49;
      width:100%;
      height:100%;
      left:0;
      top:0;
  }
  .q20{
      position:relative;
      z-index:2;
      pointer-events:auto;
      width:100%;
      margin-left:0;
      min-width:450px;
      max-width:1440px;
      margin:auto;
      background-color:rgba(255, 255, 255, 1);
      overflow:hidden;
      display:none;
  }
  .outer_q20{
      position:relative;
      display:flex;
      pointer-events:none;
      z-index:2;
  }
  .q21{
      position:relative;
      z-index:32;
      pointer-events:auto;
      margin-left:676px;
      width:764px;
      min-width:764px;
      height:683.5px;
      margin-top:0px;
      margin-bottom:36.5px;
      min-height:683.5px;
  }
  .outer_q21{
      position:relative;
      display:flex;
      pointer-events:none;
      z-index:32;
  }
  .q22{
      position:relative;
      z-index:11;
      pointer-events:auto;
      margin-left:662px;
      width:778px;
      min-width:778px;
      height:720px;
      margin-top:-720px;
      margin-bottom:0px;
      min-height:720px;
  }
  .outer_q22{
      position:relative;
      display:flex;
      pointer-events:none;
      z-index:11;
  }
  .q23{
      position:relative;
      z-index:16;
      pointer-events:auto;
      margin-left:8px;
      width:279px;
      min-width:279px;
      height:56.55px;
      margin-top:-714px;
      margin-bottom:657.45px;
      min-height:56.55px;
  }
  .outer_q23{
      position:relative;
      display:flex;
      pointer-events:none;
      z-index:16;
  }
  .q24{
      position:relative;
      z-index:17;
      pointer-events:auto;
      margin-left:0px;
      width:56.55px;
      min-width:56.55px;
      height:56.55px;
      margin-top:0px;
      margin-bottom:0px;
      min-height:56.55px;
  }
  .outer_q24{
      position:relative;
      display:flex;
      pointer-events:none;
      z-index:17;
  }
  .q25{
      position:relative;
      z-index:18;
      pointer-events:auto;
      margin-left:53px;
      width:226.22px;
      min-width:226.22px;
      height:47.77px;
      margin-top:-51.55px;
      margin-bottom:3.779999999999994px;
      min-height:47.77px;
  }
  .outer_q25{
      position:relative;
      display:flex;
      pointer-events:none;
      z-index:18;
  }
  .q26{
      position:relative;
      z-index:10;
      pointer-events:auto;
      margin-left:157px;
      width:186px;
      min-width:186px;
      margin-top:-644px;
      margin-bottom:609px;
      min-height:35px;
      text-align:left;
      display:flex;
      flex-direction:column;
      justify-content:flex-start;
      color:rgba(26, 32, 44, 1);
      font-style:normal;
      font-family:Roboto;
      font-weight:700;
      font-size:30px;
      line-height:36px;
  }
  .outer_q26{
      position:relative;
      display:flex;
      pointer-events:none;
      z-index:10;
  }
  .q27{
      position:relative;
      z-index:13;
      pointer-events:auto;
      margin-left:157px;
      width:43px;
      min-width:43px;
      margin-top:-584px;
      margin-bottom:565px;
      min-height:19px;
      text-align:center;
      display:flex;
      flex-direction:column;
      justify-content:flex-start;
      color:rgba(74, 85, 104, 1);
      font-style:normal;
      font-family:Roboto;
      font-weight:400;
      font-size:16px;
      line-height:18.666667938232422px;
  }
  .outer_q27{
      position:relative;
      display:flex;
      pointer-events:none;
      z-index:13;
  }
  .q28{
      position:relative;
      z-index:12;
      pointer-events:auto;
      margin-left:157px;
      width:350px;
      min-width:350px;
      height:50px;
      margin-top:-554px;
      margin-bottom:504px;
      min-height:50px;
      background-color:rgba(255, 255, 255, 1);
      border:1px solid rgba(255, 214, 0, 1);
      box-sizing:border-box;
      border-radius:10px;
  }
  .outer_q28{
      position:relative;
      display:flex;
      pointer-events:none;
      z-index:12;
  }
  .q29{
      position:relative;
      z-index:15;
      pointer-events:auto;
      margin-left:156px;
      width:40px;
      min-width:40px;
      margin-top:-488px;
      margin-bottom:469px;
      min-height:19px;
      text-align:center;
      display:flex;
      flex-direction:column;
      justify-content:flex-start;
      color:rgba(74, 85, 104, 1);
      font-style:normal;
      font-family:Roboto;
      font-weight:400;
      font-size:16px;
      line-height:18.666667938232422px;
  }
  .outer_q29{
      position:relative;
      display:flex;
      pointer-events:none;
      z-index:15;
  }
  .q30{
      position:relative;
      z-index:14;
      pointer-events:auto;
      margin-left:157px;
      width:350px;
      min-width:350px;
      height:50px;
      margin-top:-458px;
      margin-bottom:408px;
      min-height:50px;
      background-color:rgba(255, 255, 255, 1);
      border:1px solid rgba(199, 199, 199, 1);
      box-sizing:border-box;
      border-radius:10px;
  }
  .outer_q30{
      position:relative;
      display:flex;
      pointer-events:none;
      z-index:14;
  }
  .q31{
      position:relative;
      z-index:19;
      pointer-events:auto;
      margin-left:157px;
      width:107px;
      min-width:107px;
      margin-top:-392px;
      margin-bottom:373px;
      min-height:19px;
      text-align:center;
      display:flex;
      flex-direction:column;
      justify-content:flex-start;
      color:rgba(74, 85, 104, 1);
      font-style:normal;
      font-family:Roboto;
      font-weight:400;
      font-size:16px;
      line-height:18.666667938232422px;
  }
  .outer_q31{
      position:relative;
      display:flex;
      pointer-events:none;
      z-index:19;
  }
  .q32{
      position:relative;
      z-index:20;
      pointer-events:auto;
      margin-left:157px;
      width:350px;
      min-width:350px;
      height:50px;
      margin-top:-362px;
      margin-bottom:312px;
      min-height:50px;
      background-color:rgba(255, 255, 255, 1);
      border:1px solid rgba(199, 199, 199, 1);
      box-sizing:border-box;
      border-radius:10px;
  }
  .outer_q32{
      position:relative;
      display:flex;
      pointer-events:none;
      z-index:20;
  }
  .q33{
      position:relative;
      z-index:21;
      pointer-events:auto;
      margin-left:157px;
      width:350px;
      min-width:350px;
      height:80px;
      margin-top:-296px;
      margin-bottom:216px;
      min-height:80px;
  }
  .outer_q33{
      position:relative;
      display:flex;
      pointer-events:none;
      z-index:21;
  }
  .q34{
      position:relative;
      z-index:22;
      pointer-events:auto;
      margin-left:0px;
      width:71px;
      min-width:71px;
      margin-top:0px;
      margin-bottom:61px;
      min-height:19px;
      text-align:center;
      display:flex;
      flex-direction:column;
      justify-content:flex-start;
      color:rgba(74, 85, 104, 1);
      font-style:normal;
      font-family:Roboto;
      font-weight:400;
      font-size:16px;
      line-height:18.666667938232422px;
  }
  .outer_q34{
      position:relative;
      display:flex;
      pointer-events:none;
      z-index:22;
  }
  .q35{
      position:relative;
      z-index:23;
      pointer-events:auto;
      margin-left:0px;
      width:350px;
      min-width:350px;
      height:50px;
      margin-top:-50px;
      margin-bottom:0px;
      min-height:50px;
      background-color:rgba(255, 255, 255, 1);
      border:1px solid rgba(199, 199, 199, 1);
      box-sizing:border-box;
      border-radius:10px;
  }
  .outer_q35{
      position:relative;
      display:flex;
      pointer-events:none;
      z-index:23;
  }
  .q36{
      position:relative;
      z-index:24;
      pointer-events:auto;
      margin-left:88.28571428571429%;
      width:6.571428571428571%;
      height:20%;
      margin-top:13.428571428571429%;
  }
  .outer_q36{
      position:absolute;
      display:flex;
      pointer-events:none;
      z-index:24;
      width:100%;
      height:100%;
      left:0;
      top:0;
  }
  .q37{
      position:relative;
      z-index:3;
      pointer-events:auto;
      margin-left:1236px;
      width:120px;
      min-width:120px;
      height:78px;
      margin-top:-209px;
      margin-bottom:131px;
      min-height:78px;
  }
  .outer_q37{
      position:relative;
      display:flex;
      pointer-events:none;
      z-index:3;
  }
  .q38{
      position:relative;
      z-index:4;
      pointer-events:auto;
      margin-left:0px;
      width:120px;
      min-width:120px;
      height:15px;
      margin-top:0px;
      margin-bottom:63px;
      min-height:15px;
  }
  .outer_q38{
      position:relative;
      display:flex;
      pointer-events:none;
      z-index:4;
  }
  .q39{
      position:relative;
      z-index:5;
      pointer-events:auto;
      margin-left:0%;
      width:100%;
      height:100%;
      margin-top:0%;
  }
  .outer_q39{
      position:absolute;
      display:flex;
      pointer-events:none;
      z-index:5;
      width:100%;
      height:100%;
      left:0;
      top:0;
  }
  .q40{
      position:relative;
      z-index:6;
      pointer-events:auto;
      margin-left:0px;
      width:120px;
      min-width:120px;
      height:15px;
      margin-top:-47px;
      margin-bottom:32px;
      min-height:15px;
  }
  .outer_q40{
      position:relative;
      display:flex;
      pointer-events:none;
      z-index:6;
  }
  .q41{
      position:relative;
      z-index:7;
      pointer-events:auto;
      margin-left:0%;
      width:100%;
      height:100%;
      margin-top:0%;
  }
  .outer_q41{
      position:absolute;
      display:flex;
      pointer-events:none;
      z-index:7;
      width:100%;
      height:100%;
      left:0;
      top:0;
  }
  .q42{
      position:relative;
      z-index:8;
      pointer-events:auto;
      margin-left:0px;
      width:120px;
      min-width:120px;
      height:15px;
      margin-top:-15px;
      margin-bottom:0px;
      min-height:15px;
  }
  .outer_q42{
      position:relative;
      display:flex;
      pointer-events:none;
      z-index:8;
  }
  .q43{
      position:relative;
      z-index:9;
      pointer-events:auto;
      margin-left:0%;
      width:100%;
      height:100%;
      margin-top:0%;
  }
  .outer_q43{
      position:absolute;
      display:flex;
      pointer-events:none;
      z-index:9;
      width:100%;
      height:100%;
      left:0;
      top:0;
  }
  .q44{
      position:relative;
      z-index:25;
      pointer-events:auto;
      margin-left:157px;
      width:350px;
      min-width:350px;
      height:80px;
      margin-top:-200px;
      margin-bottom:120px;
      min-height:80px;
  }
  .outer_q44{
      position:relative;
      display:flex;
      pointer-events:none;
      z-index:25;
  }
  .q45{
      position:relative;
      z-index:26;
      pointer-events:auto;
      margin-left:0px;
      width:132px;
      min-width:132px;
      margin-top:0px;
      margin-bottom:61px;
      min-height:19px;
      text-align:center;
      display:flex;
      flex-direction:column;
      justify-content:flex-start;
      color:rgba(74, 85, 104, 1);
      font-style:normal;
      font-family:Roboto;
      font-weight:400;
      font-size:16px;
      line-height:18.666667938232422px;
  }
  .outer_q45{
      position:relative;
      display:flex;
      pointer-events:none;
      z-index:26;
  }
  .q46{
      position:relative;
      z-index:27;
      pointer-events:auto;
      margin-left:0px;
      width:350px;
      min-width:350px;
      height:50px;
      margin-top:-50px;
      margin-bottom:0px;
      min-height:50px;
      background-color:rgba(255, 255, 255, 1);
      border:1px solid rgba(199, 199, 199, 1);
      box-sizing:border-box;
      border-radius:10px;
  }
  .outer_q46{
      position:relative;
      display:flex;
      pointer-events:none;
      z-index:27;
  }
  .q47{
      position:relative;
      z-index:28;
      pointer-events:auto;
      margin-left:88.28571428571429%;
      width:6.571428571428571%;
      height:20%;
      margin-top:13.428571428571429%;
  }
  .outer_q47{
      position:absolute;
      display:flex;
      pointer-events:none;
      z-index:28;
      width:100%;
      height:100%;
      left:0;
      top:0;
  }
  .q48{
      position:relative;
      z-index:29;
      pointer-events:auto;
      margin-left:159px;
      width:347px;
      min-width:347px;
      height:50px;
      margin-top:-95px;
      margin-bottom:45px;
      min-height:50px;
      border-radius:10px;
  }
  .outer_q48{
      position:relative;
      display:flex;
      pointer-events:none;
      z-index:29;
  }
  .q49{
      position:relative;
      z-index:31;
      pointer-events:auto;
      margin-left:39.481268011527376%;
      width:17.579250720461093%;
      height:38%;
      margin-top:4.322766570605188%;
      text-align:left;
      display:flex;
      flex-direction:column;
      justify-content:flex-start;
      color:rgba(12, 11, 13, 1);
      font-style:normal;
      font-family:Roboto;
      font-weight:700;
      font-size:16px;
      line-height:18.666667938232422px;
  }
  .outer_q49{
      position:absolute;
      display:flex;
      pointer-events:none;
      z-index:31;
      width:100%;
      height:100%;
      left:0;
      top:0;
  }
  .q50{
      position:relative;
      z-index:30;
      pointer-events:auto;
      margin-left:0%;
      width:100%;
      height:100%;
      margin-top:0%;
      background-color:rgba(255, 214, 0, 1);
      border-radius:10px;
  }
  .outer_q50{
      position:absolute;
      display:flex;
      pointer-events:none;
      z-index:30;
      width:100%;
      height:100%;
      left:0;
      top:0;
  }
  @media screen and (min-width:0px) and (max-width:450px) {
          #q2 {display: block !important; max-height:720px !important}
        }
        @media screen and (min-width:0px) and (max-width:450px) {
              #q20 {display: none !important;}
            }
            @media screen and (min-width:450px) {
          #q20 {display: block !important; max-height:720px !important}
        }
        @media screen and (min-width:450px) {
              #q2 {display: none !important;}
            }
            